.navstyle{
    background: #000e29;
    color: white;
}
.navstyle:hover{
    background: #adfff5;
}
.styleMode{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: deeppink;
    background-color: lawngreen;
}
.normal{

}
html {
    background-color:#000e29;
}
body{
    font-family: sans-serif;
    color: whitesmoke;
    background-color: #1b2841;
    text-align: left;
    margin: 15px;
    padding: 30px;
}
footer{
    position: page;
    bottom: 1px;
}

ul li{
    float: left;
}
ol li{
    text-align: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
hr {
    color: darkblue;
    border-width: 5px;
}
.active {
    background-color:#111111;
}
details summary{
    cursor: pointer;
}
details summary > * {
    display: inline;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
td {
    min-width: 140px;
}
tr:nth-child(odd){
    background-color: rgba(144,238,144,.1);
}
tr:hover{
    background: rgba(95, 158, 160, 0.3);
}
.form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}